.fuse_hidden*
.DS_Store
.Trash
.hash
.seed
.tree
.42
.git

*~
*.bin
*.log
*.pem
*.swo
*.swp
*.ttf

*.ko
*.order
*.symvers
*.tmp_versions
*.mod.c
*.mod.o
*.ko.cmd
*.o.cmd

*.a
*.class
*.o
*.o.d
*.dll
*.efi
*.so
*.sys
*.dylib

*.old
*.img
*.vhd
*.vmdk

*.exe
*.res
*.out
*.apk

*.stl
compiler/win/bin
compiler/win/mingw64
project/none+all+android+apk/bin
project/none+all+android+apk/gen
project/none+all+android+apk/libs
project/none+all+android+apk/obj
project/none+all+android+apk/build.xml
project/none+all+android+apk/local.properties
project/none+all+android+apk/proguard-project.txt
project/none+all+android+apk/project.properties
project/none+all+android+cli/bin
project/none+all+android+cli/gen
project/none+all+android+cli/libs
project/none+all+android+cli/obj
project/none+all+android+cli/build.xml
project/none+all+android+cli/local.properties
project/none+all+android+cli/proguard-project.txt
project/none+all+android+cli/project.properties
project/none+all+android+tui/bin
project/none+all+android+tui/gen
project/none+all+android+tui/libs
project/none+all+android+tui/obj
project/none+all+android+tui/build.xml
project/none+all+android+tui/local.properties
project/none+all+android+tui/proguard-project.txt
project/none+all+android+tui/project.properties
