.fuse_hidden*
.DS_Store
.Trash
.vscode
.idea
.git
.42

*~
*.bin
*.log
*.pem
*.swo
*.swp
*.ttf
*.spv

*.ko
*.order
*.symvers
*.tmp_versions
*.mod.c
*.mod.o
*.ko.cmd
*.o.cmd

*.a
*.class
*.o
*.o.d
*.elf
*.dll
*.efi
*.EFI
*.so
*.sys
*.dylib

*.old
*.img
*.vhd
*.vmdk

*.exe
*.res
*.out
*.apk

compiler/win/bin
compiler/win/mingw64
