.fuse_hidden*
.DS_Store
.Trash
.hash
.seed
.tree
.42
.git
tool/windowstool/bin
tool/windowstool/mingw64
app/logcat+arm64+linux+cli/bin
app/logcat+arm64+linux+cli/gen
app/logcat+arm64+linux+cli/libs
app/logcat+arm64+linux+cli/obj
app/logcat+arm64+linux+cli/build.xml
app/logcat+arm64+linux+cli/local.properties
app/logcat+arm64+linux+cli/proguard-project.txt
app/logcat+arm64+linux+cli/project.properties
app/logcat+arm64+linux+tui/bin
app/logcat+arm64+linux+tui/gen
app/logcat+arm64+linux+tui/libs
app/logcat+arm64+linux+tui/obj
app/logcat+arm64+linux+tui/build.xml
app/logcat+arm64+linux+tui/local.properties
app/logcat+arm64+linux+tui/proguard-project.txt
app/logcat+arm64+linux+tui/project.properties
app/apk/bin
app/apk/gen
app/apk/libs
app/apk/obj
app/apk/build.xml
app/apk/local.properties
app/apk/proguard-project.txt
app/apk/project.properties
*.swo
*.swp
*.o
*.o.d
*.a
*.dll
*.efi
*.so
*.sys
*.old
*.img
*.vhd
*.vmdk
*.log
*.exe
*.res
*.out
*.ko
*.order
*.symvers
*.tmp_versions
*.mod.c
*.mod.o
*.ko.cmd
*.o.cmd
*.apk
*~
